.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #7c3aed;
    background-color: #ede9fe;
    color: #5b21b6;
    cursor: pointer;
    transition: 0.2s ease;

    :hover:not(:disabled) {
        background-color: #ddd6fe;
    }

    :disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.page-info {
    font-weight: 500;
    color: #5b21b6;
}
